* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  font-family: 'Poppins';
  background: rgb(0, 0, 0);
  overflow: hidden;
  overscroll-behavior-x: none;
}

@font-face {
  font-family: star-jedi;
  src: url('../static/fonts/starjedi/Starjedi.ttf');
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.container {
  position: absolute;
  width: 100vw;
  place-items: center;
}

#title {
  font-family: 'star-jedi';
  font-size: 4rem;
  color: white;
  text-align: center;
}

.btn {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px;
  background: rgba(0,0,0,0.9);
  color: white;
  border: 1px solid gray;
  cursor: pointer;
}
.btn:hover {
  background: #444;
}
.btn:focus {
  outline: none;
}

#export-btn {
  right: 450px;
  left: auto;
  top: 50px;
}

#legends-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20vw;
  height: 20vh;
}

#legends-container > ul > li {
  color: white;
  font-family: monospace;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.color-box {
  width: 20px;
  height: 10px;
  border: solid 4px green;
  border-radius: 30%;
  margin-right: 10px;
}