* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(0, 0, 0);
  overflow: hidden;
  overscroll-behavior-x: none;
}

@font-face {
  font-family: star-jedi;
  src: url('../static/fonts/starjedi/Starjedi.ttf');
  font-display: block;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.container {
  position: absolute;
  width: 100vw;
  place-items: center;
  color: white;
  text-align: center;
}

.btn {
  position: absolute;
  padding: 10px;
  background: rgba(0,0,0,0.9);
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: #444;
}
.btn:focus {
  outline: none;
}

#title {
  font-family: 'star-jedi';
  font-size: 4rem;
}

#sub-title {
  font-family: 'star-jedi';
  font-size: 1.5rem;
  letter-spacing: 3px;
}

#created-by {
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}
#created-by > a:link, a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.slider-container {
  position: absolute;
  left: 15%;
  width: 70%;
  opacity: 0;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding: 0px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #73a5c2;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #73a5c2;
  cursor: pointer;
}

#current-year {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  position: absolute;
  left: 0;
  width: fit-content;
}
#year-markers-container {
  width: 100%;
}
.year-marker {
  position: absolute;
  bottom: 8px;
  width: 2px;
  height: 13px;
  background-color: #9b9b9b;
}
.year-marker::after {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  bottom: 20px;
  width: 100px;
  transform: translate(-50%, 0);
}

.show-on-load {
  opacity: 0.0;
}

#tile-type-container {
  position: absolute;
  left: 20px;
  top: 20px;
  min-width: 150px;
  min-height: 50px;
  opacity: 0.0;
  overflow: hidden;
}

#tile-type-list {
  margin-top: 30px;
}

#tile-type-list li {
  color: white;
  font-family: monospace;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

#tile-type-list li input {
  margin-right: 10px;
}

#tile-type-container #toggle-btn {
  padding: 5px;
}

#mute-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#github-btn {
  position: absolute;
  right: 4rem;
  top: 1rem;
}

#search-container {
  position: absolute;
  top: 25%;
  width: 100vw;
  place-items: center;
  background-color: red;
  text-align: center;
  color: white;
}
#search-bar-wrapper {
  position: absolute;
  width: 200px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}
.clear-icon {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 10px;
  cursor: pointer;
  visibility: hidden;
}
.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 75%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  caret-color: white;
  color: white;
  background-color: #000000;
  font-size: 16px;
}
.search:hover, .search:focus {
  border: 1px solid white;
}
#search-result-container {
  color: white;
  position: absolute;
  /* width: 180px; */
  left: 50%;
  top: 40px;
  text-align: left;
  -ms-transform: translateX(-100px);
  -webkit-transform: translate(-100px);
  transform: translateX(-100px);
}
#search-result-container ul {
  list-style-type: none;
}
.search-result-item {
  font-size: 0.8em;
  font-family: Helvetica, sans-serif;
  margin: 5px;
  padding: 3px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  width: fit-content;
  background-color: black;
}
.search-result-item.selected {
  border: 1px solid white;
  background-color: rgb(32, 32, 32);
}

.color-box {
  width: 20px;
  height: 10px;
  border: solid 4px green;
  border-radius: 30%;
  margin-right: 10px;
}

#enter-btn {
  left: 50%;
  top: 50%;
  width: 100px;
  transform: translate(-50px, 150px);
  display: none;
}

#tooltip {
  display: none;
  position: absolute;
  z-index: 100;
  color: white;
  background-color: rgb(54, 54, 54);
  padding: 5px 10px;
  text-overflow: clip;
  white-space: nowrap;
  border-radius: 5px;
  opacity: 0.9;
}

.tooltip-content {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 30px;
}
.tooltip-content .name {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

.tooltip-content .value {
  font-weight: bold;
}

#popup-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#popup {
  /* display: none; */
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgb(41, 41, 41);
  z-index: 10;
}
#popup iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#popup-bg {
  /* display: none; */
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.75);
}
#popup-buttons {
  position: fixed;
  width: fit-content;
  top: 5%;
  right: 10%;
  z-index: 10;
}
#popup-close {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 2px;
}
#popup-new-tab {
  position: relative;
  width: fit-content;
  height: 30px;
  padding: 2px 10px;
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  #title {
    font-size: 2rem;
  }
  #sub-title {
    font-size: 1rem;
  }
  #legends-container {
    margin-top: 60px;
  }
  #legends-list {
    display: none;
  }
  #tile-type-list {
    display: none;
    background-color: black;
    top: 2rem;
  }
  #tile-type-container {
    top: 3rem;
    left: 1rem;
  }
  #mute-btn {
    top: 1rem;
    right: 0.5rem;
  }
  #github-btn {
    top: 4rem;
    right: 0.5rem;
  }
}

#export-btn {
  right: 450px;
  left: auto;
  top: 50px;
  display: none;
}
